<%= render partial: "shared/nav" %>
<div class="row">
  <%= image_tag @spot.photo if @spot.photo.attached? %>
</div>
<h2><%= @spot.name %></h2>
<div class="container">
  <div class="row details">
    <div class="col-sm desc">
      <%= @spot.description %>
    </div>
    <div class="col-sm amenities">
        <h4>This site has: </h4>
        <ul>
          <% if @spot.has_power %><li>Power</li><% end %>
          <% if @spot.has_water %><li>Water</li><% end %>
          <% if @spot.has_toilet %><li>Toilets</li><% end %>
          <% if @spot.has_shower %><li>Shower</li><% end %>
        </ul>
    </div>
  </div>
  <%= link_to "Back to list", spots_path, class: "btn show-btn btn-secondary" %>
</div>
