<%= render partial: "shared/nav" %>
<div class="row">
  <% if @spot.photo.attached? == true %>
    <%= image_tag @spot.photo, class:'photo' %>
  <% end %>
</div>
<h2><%= @spot.name %></h2>
<div class="container">
  <div class="row details">
    <div class="col-sm desc">
      <%= @spot.description %>
    </div>
    
    <div class="col-sm amenities">
        <h4>Address: </h4>
          <%= render 'shared/address', spot: @spot %>
        <h4>Amenities: </h4>
        <ul>
          <% if @spot.has_power %><li>Power</li><% end %>
          <% if @spot.has_water %><li>Water</li><% end %>
          <% if @spot.has_toilet %><li>Toilets</li><% end %>
          <% if @spot.has_shower %><li>Shower</li><% end %>
        </ul>
    </div>
  </div>
  <%= link_to 'Edit', edit_spot_path(@spot), class: "btn show-btn btn-secondary" %>
  <%= link_to 'Delete', spot_path, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn show-btn btn-secondary" %>
  <br>
  <%= link_to "Back to list", spots_path, class: "btn show-btn btn-secondary" %>
</div>
